<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление кредитным счетом</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 400px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
<<div class="container">
    <h2 class="text-center">Управление кредитным счетом</h2>
    <form id="accountForm" method="POST" action="/manage_account">
        <div class="form-group">
            <select class="form-control" name="action" id="action" required>
                <option value="" selected disabled hidden>Выберите действие</option>
                <option value="open_account">Открыть счет</option>
                <option value="close_account">Закрыть счет</option>
                <option value="send_money">Перевести деньги</option>
            </select>
        </div>
        <div id="creditConditions" style="display: none;">
            <p><strong>Условия кредита:</strong></p>
            <p>Процентная ставка: 10%</p>
            <p>Лимит: $10,000</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="agreeConditions" required>
                <label class="form-check-label" for="agreeConditions">
                    Я согласен с условиями
                </label>
            </div>
        </div>
         <div id="transferMoney" style="display: none;">
            <div class="form-group">
                <label for="phoneNumber">Номер телефона:</label>
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
            </div>
            <div class="form-group">
                <label for="amount">Сумма денег:</label>
                <input type="number" class="form-control" id="amount" name="amount" min="10" required>
            </div>
        </div>
        <div id="openAccountButton">
            <button type="button" class="btn btn-primary btn-block">Выполнить действие</button>
            <button type="button" class="btn btn-secondary btn-block" onclick="goBack()">Назад</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('action').addEventListener('change', function() {
        var action = this.value;

    if (action === "send_money") {
        document.getElementById('transferMoney').style.display = "block";
        document.getElementById('creditConditions').style.display = "none"; // Скрываем условия кредита
        document.getElementById('openAccountButton').innerHTML = '<button type="submit" class="btn btn-primary btn-block">Выполнить действие</button><button type="button" class="btn btn-secondary btn-block" onclick="goBack()">Назад</button>';
    } else if (action === "open_account") {
        document.getElementById('transferMoney').style.display = "none";
        document.getElementById('creditConditions').style.display = "block"; // Показываем условия кредита
        document.getElementById('openAccountButton').innerHTML = '<button type="submit" class="btn btn-primary btn-block">Выполнить действие</button><button type="button" class="btn btn-secondary btn-block" onclick="goBack()">Назад</button>';
    } else {
        document.getElementById('transferMoney').style.display = "none";
        document.getElementById('creditConditions').style.display = "none";
        document.getElementById('openAccountButton').innerHTML = '<button type="submit" class="btn btn-primary btn-block">Выполнить действие</button><button type="button" class="btn btn-secondary btn-block" onclick="goBack()">Назад</button>';
    }
});


    function goBack() {
        window.location.href = '/verif_main';
    }
</script>
</body>
</html>

