<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление депозитным счетом</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 400px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="text-center">Управление депозитным счетом</h2>
    <form id="accountForm" method="POST" action="/manage_account">
        <div class="form-group">
            <select class="form-control" name="action" id="action" required>
                <option value="" selected disabled hidden>Выберите действие</option>
                <option value="open_account">Открыть депозит</option>
                <option value="close_account">Закрыть счет</option>
            </select>
        </div>
        <div id="openAccountButton">
            <button type="button" class="btn btn-primary btn-block" onclick="executeAction()">Выполнить действие</button>
            <button type="button" class="btn btn-secondary btn-block" onclick="goBack()">Назад</button>
        </div>
    </form>
</div>

<script>
    function executeAction() {
        var action = document.getElementById('action').value;
        switch (action) {
            case 'open_account':
                window.location.href = '/open_acc_deposit';
                break;
            case 'close_account':
                window.location.href = '/close_acc_deposit';
                break;
        }
    }

    function goBack() {
        window.location.href = '/verif_main';
    }
</script>
</body>
</html>
