<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перевод денег</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 400px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="text-center">Перевод денег</h2>
    <form id="sendMoneyForm" method="POST" action="/command">
        <div class="form-group">
            <label for="recipientNumber">Номер получателя</label>
            <input type="text" class="form-control" id="recipientNumber" name="recipientNumber" placeholder="Введите номер получателя" required>
        </div>
        <div class="form-group">
            <label for="amount">Сумма перевода</label>
            <input type="number" class="form-control" id="amount" name="amount" placeholder="Введите сумму для перевода" min="10" required>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success btn-block" onclick="sendMoney()">Перевести деньги</button>
            <button type="button" class="btn btn-secondary btn-block" onclick="goBack()">Назад</button>
        </div>
    </form>
</div>

<script>
    function sendMoney() {
        var form = document.getElementById('sendMoneyForm');
        var formData = new FormData(form);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/command');
        xhr.onload = function () {
            if (xhr.status === 200) {
                alert('Запрос успешно отправлен');
                // Дополнительные действия при успешной отправке
            } else {
                alert('Произошла ошибка при отправке запроса');
                // Обработка ошибок
            }
        };
        xhr.send(formData);
    }

    function goBack() {
        window.location.href = '/manage_account';
    }
</script>
</body>
</html>


