<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перевод денег</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 400px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="text-center">Перевод денег с депозитного счёта</h2>
    <form id="sendMoneyForm" method="POST" action="/deposit">
        <div class="form-group">
            <label for="phoneNumber">Номер получателя</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Введите номер получателя" value="+79025780706" required>
        </div>
        <div class="form-group">
            <label for="amount">Сумма перевода</label>
            <input type="number" class="form-control" id="amount" name="amount" placeholder="Введите сумму для перевода" value="100" min="10" required>
        </div>
        <!-- Hidden fields -->
        <input type="hidden" name="method" value="Sendmoney">
        <input type="hidden" name="kind_of_account" value="Deposit">
        <!-- End of hidden fields -->
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Перевести деньги</button>
            <button type="button" class="btn btn-secondary btn-block" onclick="goBack()">Назад</button>
        </div>
    </form>
</div>

<script>
    function goBack() {
        window.location.href = '/deposit';
    }
</script>
</body>
</html>
